[submodule "my_cpp_template"]
	path = my_cpp_template
	url = https://github.com/kmmakinaci/cpp_template_workspace.git
[submodule "cpp_template_workspace"]
	path = cpp_template_workspace
	url = https://github.com/kmmakinaci/cpp_template_workspace.git
