[submodule "cpp_template_workspace"]
	path = cpp_template_workspace
	url = https://github.com/kmmakinaci/cpp_template_workspace.git
[submodule "ethernet"]
	path = /featured/ethernet
	url = https://github.com/kmmakinaci/ethernet.git
